#art {
height: 300px;
border: 2px solid black;
width: 400px;
box-sizing: border-box;
margin-bottom: 5px
}
.art-cont {
  border: 0;
  width: 400px;
  height: 300px;
  padding: 0;
  margin-bottom: 5px
}
.meta{
border: 2px solid black;
width: 400px;
box-sizing: border-box;
margin-bottom: 5px;
margin-top: 5px;
padding-left: 10px;
padding-right: 10px;
overflow-x:hidden;
text-overflow: ellipsis;
white-space: nowrap;
float:left;
background-color: honeydew;
padding-top: 0;
padding-bottom: 0
}
.meta p{
  overflow-x:hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x:hidden;
  float: left;
  width: 360px;
  margin: 0;
  padding: 0
}
#seekbar {
  border: 2px solid black;
  height: 55px;
  width: 400px;
  box-sizing: border-box;
  color: turquoise;
  background-color: darkgray;
  margin-top: 5px;
  padding: 0;
  cursor: pointer;
}
#seekbar::-webkit-progress-bar {
	background: darkgray;
}
#seekbar::-webkit-progress-value {
	background: turquoise;
}
#seekbar::-moz-progress-bar {
	background: turquoise;
}
#seekbar::-moz-progress-value {
	background: turquoise;
}
.download {
  border: 1px solid black;
  flex: 1;
  width: 100%;
  text-align: center;
  display:inline-block;
  box-sizing: border-box;
  padding: 0;
}
.release {
  border: 1px solid black;
  width: 100%;
  flex: 1;
  text-align: center;
  display:inline-block;
  box-sizing: border-box;
  padding: 0;
}
.license {
  border: 1px solid black;
  width: 100%;
  flex: 1;
  text-align: center;
  display:inline-block;
  box-sizing: border-box;
  padding: 0;
}
.links{
  border: 1px solid black;
  margin-top: 10px;
  height: 20px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  color: black;
  background-color: darkgray
}
.controls {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 1px solid black;
}
.controls button{
  flex: 1;
  border: 1px solid black;
  background-color: darkgray;
  height: 50px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.player-left {
  width: 100%;
  height: 605px;
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  margin: 0;
  background-color: white;
  margin: 0;
  border: 1px solid black
}
ul {
  display:block;
  box-sizing: border-box;
  border: 2px solid black;
  width: 400px;
  float:left;
  background-color: honeydew;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
ul > button {
  background: darkgray;
  color: black;
  border: 1px solid black
}
li {
  display:block;
  box-sizing: border-box;
  border: 2px solid black;
  width: 356px;
  overflow:hidden;
  white-space:normal;
  float:left;
  word-break: break-all;
  background-color: white;
  margin-top:1px;
  margin-bottom: 1px;
}
.player-whole{
  display: flex;
  padding: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin: auto;
  box-sizing: border-box;
  width: 424px;
  height: 607px;
  background-color: black;
  border-bottom: 1px solid black;
}

.player-right{
  flex: 1;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  display: none;
}
.itemInList:hover{
  color: white;
  background-color: #000;
  cursor: pointer;
}
.f:hover{
  color: white;
  background-color: #000;
  cursor: pointer;
}
#chat .chattracks:hover{
  color: white;
  background-color: #000;
  cursor: pointer;
}
.links:hover {
  color: white;
  background-color: turquoise;
  text-decoration: none;
  cursor: pointer;
}

.links .license:visited {
  color: black;
  background-color: darkgray;
  text-decoration: none;
}
.links .license:active{
  color: white;
  background-color: turquoise;
  text-decoration: none;
}
.links .license:link{
  color: black;
  background-color: darkgray;
  text-decoration: none;
}
.links a:visited {
  color: black;
  background-color: darkgray;
  text-decoration: none;
}
.links a:active{
  color: white;
  background-color: turquoise;
  text-decoration: none;
}
.links a:link{
  color: black;
  background-color: darkgray;
  text-decoration: none;
}
button:hover{
  color: white;
  background-color: turquoise;
  cursor: pointer;
}
.playAll, .shuffleAll {
  border: 2px solid black;
  margin-right: 10px
}
.remove2, .add {
  background: darkgray;
  margin-right: 5px;
}
.remove {
  background: darkgray
}
h4 {
  float: right;
  margin-right: 10px;
  margin-left: 10px
}
h1 {
  margin-left: 10px
}
*{
  font-family: 'VT323', monospace;
}
li button:hover {
  background: turquoise;
  color: white
}
.favor {
  font-size: 10px
}
.hideShow button{
  flex: 1;
  border: 1px solid black;
  background-color: darkgray;
  height: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
.hideShow button:hover{
  background: turquoise;
  color: white
}
.hideShow {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: 1px solid black;
}
.player-right2{
  flex: 1;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  display: none;
}
.hideShow button{
  font-size: 15px
}
h1 {
  font-size: 28px;
  margin: 10px
}
/*#pitch {
  width: 100%;
  flex: 1;
  display: inline-block;
}
#slider {
  display: flex;
  width: 400px;
  justify-content: center;
  margin: auto
}*/
.player-right3{
  flex: 1;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background-color: darkgray;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  display: none;
}
#chat {
        padding-top: 10px;
        box-sizing: border-box;
        width: 400px;
        margin: 0
}

#chat li {
  display:block;
  box-sizing: border-box;
  border: 2px solid black;
  width: 356px;
  overflow:hidden;
  white-space:normal;
  float:left;
  word-break: break-all;
  background-color: white;
  margin-top:1px;
  margin-bottom: 1px;
}


#messages {
        margin-top: 0;
        margin-bottom: 10px;
        height: 92%
}

form {
        position: relative;
        height: 8%;
        width: 100%;
}

#inputField {
        position: relative;
        bottom: 0;
        width: 95%;
        height: 50px;
        display: flex;
        border: 1px solid black
}

#inputField input {
        box-sizing: border-box;
        width: 100%;
        border: 1px solid black;
        flex: 1;
        word-break: break-word;
}
#chattin {
  padding: 10px
}
#postplay, #send {
  background: darkgray;
  color: black;
  border: 1px solid black;
  flex: 1
}
#chbuttons {
  width: 100%;
  display: flex;
  flex: 1
}
.links a:hover{
  background: turquoise;
  color: white
}
#chbuttons button:hover{
  background: turquoise;
  color: white
}
#shfav:hover{
  background: turquoise;
  color: white
}
#shchat:hover{
  background: turquoise;
  color: white
}
#shupnext:hover{
  background: turquoise;
  color: white
}
#license:hover{
  background: turquoise;
  color: white
}
